flows (1).json
[{"id":"c5d92fe4.59b6e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ff0f3d92.77e35","type":"switch","z":"c5d92fe4.59b6e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":400,"wires":[["760dab6b.4d1b04"]]},{"id":"760dab6b.4d1b04","type":"ui_toast","z":"c5d92fe4.59b6e8","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Jar-1 Low","name":"","x":880,"y":340,"wires":[]},{"id":"d445309.7fbe7d","type":"inject","z":"c5d92fe4.59b6e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"SMART KITCHEN","payloadType":"str","x":170,"y":100,"wires":[["8d0cebec.fd4f68"]]},{"id":"8d0cebec.fd4f68","type":"ui_text","z":"c5d92fe4.59b6e8","group":"31b7a7fd.2b5088","order":1,"width":0,"height":0,"name":"","label":"Welcome to","format":"{{msg.payload}}","layout":"row-center","x":370,"y":100,"wires":[]},{"id":"8acc7215.7e497","type":"ui_gauge","z":"c5d92fe4.59b6e8","name":"","group":"4aa346e3.c56488","order":5,"width":0,"height":0,"gtype":"wave","title":"Sugar","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":340,"wires":[]},{"id":"3b24fe7a.8da382","type":"ui_button","z":"c5d92fe4.59b6e8","name":"","group":"c994a6d2.68c9e8","order":5,"width":0,"height":0,"passthru":false,"label":"GROCERIES","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"GROCERIES\"}","payloadType":"json","topic":"","x":600,"y":140,"wires":[["8b524075.e9d78"]]},{"id":"8b524075.e9d78","type":"ui_ui_control","z":"c5d92fe4.59b6e8","name":"","events":"all","x":980,"y":180,"wires":[[]]},{"id":"4e32dbfd.3a48f4","type":"ui_button","z":"c5d92fe4.59b6e8","name":"","group":"c994a6d2.68c9e8","order":1,"width":0,"height":0,"passthru":false,"label":"GAS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"GAS\"}","payloadType":"json","topic":"","x":590,"y":220,"wires":[["8b524075.e9d78"]]},{"id":"2b4201dd.1aafde","type":"ui_button","z":"c5d92fe4.59b6e8","name":"","group":"31b7a7fd.2b5088","order":5,"width":0,"height":0,"passthru":false,"label":"OPTIONS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"OPTIONS\"}","payloadType":"json","topic":"","x":580,"y":80,"wires":[["8b524075.e9d78"]]},{"id":"53545750.1d1c78","type":"switch","z":"c5d92fe4.59b6e8","name":"","property":"payload.cylwt","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":720,"wires":[["9f40a0a1.4a042"]]},{"id":"9f40a0a1.4a042","type":"ui_toast","z":"c5d92fe4.59b6e8","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Gas Low","name":"","x":830,"y":720,"wires":[]},{"id":"62636f5d.8d99c","type":"ui_gauge","z":"c5d92fe4.59b6e8","name":"","group":"aa6aba1.07b2848","order":5,"width":0,"height":0,"gtype":"wave","title":"GAS LEVEL","label":"kg","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":620,"wires":[]},{"id":"1769324f.6b92ae","type":"function","z":"c5d92fe4.59b6e8","name":"cylwt","func":"global.set('cylwt',msg.payload.cylwt)\nmsg.payload=msg.payload.cylwt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":600,"wires":[["62636f5d.8d99c","53545750.1d1c78"]]},{"id":"da32603f.c9033","type":"switch","z":"c5d92fe4.59b6e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":520,"wires":[["f7d7f021.75cfb"]]},{"id":"f7d7f021.75cfb","type":"ui_toast","z":"c5d92fe4.59b6e8","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Jar-2 Low","name":"","x":860,"y":460,"wires":[]},{"id":"f74905b5.61bdb8","type":"ui_gauge","z":"c5d92fe4.59b6e8","name":"","group":"4aa346e3.c56488","order":5,"width":0,"height":0,"gtype":"wave","title":"Salt","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":460,"wires":[]},{"id":"4fed02a5.b704ec","type":"ui_toast","z":"c5d92fe4.59b6e8","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"GAS LEAK","name":"","x":830,"y":800,"wires":[]},{"id":"359a5c2f.bd7744","type":"function","z":"c5d92fe4.59b6e8","name":"exhuast","func":"msg.payload=\"exhuast on\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":800,"wires":[["4fed02a5.b704ec"]]},{"id":"5941e288.990ddc","type":"ibmiot in","z":"c5d92fe4.59b6e8","authentication":"apiKey","apiKey":"5420f45e.70a0bc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0002","applicationId":"","deviceType":"Raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":680,"wires":[["dae95e4a.28d8e","84d80cb7.a7035","1769324f.6b92ae","4b3b2a36.36f5e4","37897e67.4eae52"]]},{"id":"dae95e4a.28d8e","type":"function","z":"c5d92fe4.59b6e8","name":"ultrasonic1","func":"global.set('ultrasonic1',msg.payload.ultrasonic1)\nmsg.payload=msg.payload.ultrasonic1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":400,"wires":[["8acc7215.7e497","ff0f3d92.77e35"]]},{"id":"84d80cb7.a7035","type":"function","z":"c5d92fe4.59b6e8","name":"ultrasonic2","func":"global.set('ultrasonic2',msg.payload.ultrasonic2)\nmsg.payload=msg.payload.ultrasonic2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":479,"y":531.5999755859375,"wires":[["f74905b5.61bdb8","da32603f.c9033"]]},{"id":"4b3b2a36.36f5e4","type":"debug","z":"c5d92fe4.59b6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":480,"wires":[]},{"id":"89ba022d.a413b","type":"http in","z":"c5d92fe4.59b6e8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["b44785fb.e809a8"]]},{"id":"c0338bbb.b49b98","type":"http response","z":"c5d92fe4.59b6e8","name":"","statusCode":"","headers":{},"x":750,"y":880,"wires":[]},{"id":"b44785fb.e809a8","type":"function","z":"c5d92fe4.59b6e8","name":"","func":"msg.payload={'ultrasonic1':global.get(\"ultrasonic1\"),'ultrasonic2':global.get(\"ultrasonic2\"),'cylwt':global.get(\"cylwt\"),'mq6':global.get(\"mq6\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":880,"wires":[["c0338bbb.b49b98"]]},{"id":"37897e67.4eae52","type":"function","z":"c5d92fe4.59b6e8","name":"mq6","func":"global.set('mq6',msg.payload.mq6)\nmsg.payload=msg.payload.mq6;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":740,"wires":[["359a5c2f.bd7744"]]},{"id":"31b7a7fd.2b5088","type":"ui_group","z":"","name":"Default","tab":"56a6acce.3c6534","order":1,"disp":true,"width":"6","collapse":false},{"id":"4aa346e3.c56488","type":"ui_group","z":"","name":"GROCERIES","tab":"774e23a7.673bcc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c994a6d2.68c9e8","type":"ui_group","z":"","name":"MENU","tab":"31cbd445.b490bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa6aba1.07b2848","type":"ui_group","z":"","name":"GAS LEVEL","tab":"703c9ae1.c57814","order":1,"disp":true,"width":"6","collapse":false},{"id":"5420f45e.70a0bc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"gdkg96.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"56a6acce.3c6534","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"774e23a7.673bcc","type":"ui_tab","z":"","name":"GROCERIES","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"31cbd445.b490bc","type":"ui_tab","z":"","name":"OPTIONS","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"703c9ae1.c57814","type":"ui_tab","z":"","name":"GAS","icon":"dashboard","order":9,"disabled":false,"hidden":false}]